

    <div class="comments-list-container">
        <span class="commenter-user-name">Username: <%= comment.author.name %></span>
        <p class="comments-content">Comment: <%= comment.text %></p>
    </div>
