<div class="user-list-container">
    <div class="user-image-container">
        X
    </div>
    <div class="user-detail-container">
        <h3 class="user-name">User Name </h3>
        <span class="num-posts">Number of posts</span>
    </div>
</div>

<div class="user-list-container">
    <div class="user-image-container">
        X
    </div>
    <div class="user-detail-container">
        <h3 class="user-name">User Name </h3>
        <span class="num-posts">Number of posts</span>
    </div>
</div>

<div class="user-list-container">
    <div class="user-image-container">
        X
    </div>
    <div class="user-detail-container">
        <h3 class="user-name">User Name </h3>
        <span class="num-posts">Number of posts</span>
    </div>
</div>

<div class="user-list-container">
    <div class="user-image-container">
        X
    </div>
    <div class="user-detail-container">
        <h3 class="user-name">User Name </h3>
        <span class="num-posts">Number of posts</span>
    </div>
</div>

<div class="user-list-container">
    <div class="user-image-container">
        X
    </div>
    <div class="user-detail-container">
        <h3 class="user-name">User Name </h3>
        <span class="num-posts">Number of posts</span>
    </div>
</div>

<div class="user-list-container">
    <div class="user-image-container">
        X
    </div>
    <div class="user-detail-container">
        <h3 class="user-name">User Name </h3>
        <span class="num-posts">Number of posts</span>
    </div>
</div>


