
<%= render @post[0].author %>

<div class="user-detail-bio">
    <h4>Bio</h4>
    <p class="user-bio-content">
        <%= @post[0].author.bio %>
    </p>
</div>

<%= render @post %>
<div class="btn-container-post">
<button class="btn-posts">See all Posts</button>
</div>

