<%= render @post[0].author %>

<% @post.each do |post|%>
<%= render post %>
<% if post.comments.length != 0 %>
<div class="comments-container">
    <%= render post.comments %>
</div>
<% end %>
<% end %>

<div class="btn-container-post">
<button class="btn-posts">Pagination</button>
</div>



