/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  display: block;
}

.user-list-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 60%;
  padding: 5px;
}

.user-image-container {
  width: 20%;
  font-size: 80px;
  border: 1px solid black;
  padding: 3px;
  text-align: center;
}

.user-detail-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  padding: 6px;
  width: 70%;
}

.num-posts {
  display: flex;
  align-items: flex-end;
}

.user-detail-bio {
  max-width: 60%;
  margin: 20px auto;
  padding: 4px;
  border: 1px solid black;
}

.posts-list-container {
  max-width: 60%;
  margin: 20px auto;
  padding: 4px;
  border: 1px solid black;
}

.interaction-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  gap: 20px;
}

.comments-list-container {
  display: flex;
  flex-direction: row;
}

.commenter-user-name {
  margin: 0 10px 0 10px;
}

.comments-content {
  margin: 0;
}

.comments-container {
  display: block;
  border: 1px solid black;
  width: 60%;
  margin: 2px auto 40px auto;
}

.posts-detail-container {
  max-width: 60%;
  margin: auto;
  border: 1px solid black;
  padding: 5px;
}

.post-info-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}

.post-info {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.post-info h5 {
  width: fit-content;
  margin: 0%;
  font-size: 18px;
}

.interaction-container-detail {
  display: flex;
  padding: 7px;
  width: 70%;
  justify-content: flex-end;
  gap: 20px;
}
